.main-head
  margin-bottom: 18px
  &-search
    width: 200px
.main-users-list-item
  .ant-list-item
    margin-bottom: 26px !important
  .ant-avatar
    height: 80px
    width: 80px
.ant-list-item-meta-title
  white-space: nowrap
  width: 150px
  overflow: hidden
  text-overflow: ellipsis